

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color : darkslategrey;
  font-size : 32px;
}


.search-container{
    background-color: white;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    overflow: hidden;
    border-radius: 10px;
    height : 40px;
} 

input#search{
  margin: 0 auto;
  position : 100px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 1.35rem;
  }

  .search:focus{
    border: 1px solid red;
    transition: 0.35s ease;
    color : red;
  } 

#results-container {
  background-color: rgba(0, 0, 0, 0.03);
}

img {
  width:350px;
  height:450px;
  vertical-align: middle;
  border-radius: 0.25rem;
  position : relative;
}

ul{
  display:flex;
  flex-wrap: wrap;
}

li{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  width: 400px;
  height: 500px;
	margin:15px;
	background:#fff;
	border:1px solid black;
	text-align:center;
	cursor:pointer;
  border-radius: 0.25rem;
  /* filter: drop-shadow(8px 8px 10px grey);
  transition: filter 0.3s cubic-bezier(.43,.41,.22,.91);; */
}

.movie-title{
  color: grey;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.movie-type{
  color: grey;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top:5px;
}



.tooltip {
  position: relative;
  display: block;
  z-index : 999;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:200px;
  background-color:black;
  color : white;
  text-align: left;
  border-radius: 25px;
  padding: 10px 0;
  padding-left : 10px;

  /* Position the tooltip */
  position: absolute;
  top: 50px;
  left: 105%;
  z-index : 999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  display : block;
  position : absolute;
  z-index : 999;
}


