

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color : darkslategrey;
  font-size : 32px;
}

#results-container {
  background-color: rgba(0, 0, 0, 0.03);
}

.element{

}
.element:hover{
    background-color:red;
}

img {
  width:350px;
  height:450px;
  vertical-align: middle;
  border-radius: 0.25rem;
  position : relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}

ul{
  display:flex;
  flex-wrap: wrap;
  list-style : none;
}

li{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  width: 400px;
  height: 500px;
	margin:15px;
	background:#fff;
	border:1px solid black;
	text-align:center;
	cursor:pointer;
  border-radius: 0.25rem;
  filter: drop-shadow(8px 8px 10px grey);
  transition: filter 0.3s cubic-bezier(.43,.41,.22,.91);;
}

.movie-title{
  color: grey;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.movie-type{
  color: grey;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top:5px;
}


.search-container{
    background-color: white;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    overflow: hidden;
    border-radius: 6px;
    height : 30px;
} 


.tooltip {
  /* position: relative; */
  display: inline;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:200px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  padding-left : 5px;

  /* Position the tooltip */
  position: absolute;
  top: 50px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  display : block;
  position : absolute;
 
}

.search-container{
  width: 500px;
  display: block;
  margin: 0 auto;
}

input#search{
  margin: 0 auto;
  position : 50px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 1.25rem;
  vertical-align: center;
  border: 1px solid #D0CFCE;
  outline: none;
  }

  .search:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
  .search:focus:-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
  ::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
  .search:focus:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    

.search-icon{
  position: relative;
  float: right;
  width: 20%;
  height: 100%;
  top: -62px;
  right: -45px;
}