

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: grey;
}


.element{

}
.element:hover{
    background-color:red;
}


ul{
  display:flex;
  flex-wrap: wrap;
  width : 100%;
  height: 100%;
}

li{
  display:flex;
  flex-direction: column;
}

