

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color :#222;
  font-size : 32px;
}

#results-container {
  background-color: rgba(0, 0, 0, 0.03);
}

.element{

}
.element:hover{
    background-color:red;
}

img {
  width:350px;
  height:450px;
  vertical-align: middle;
  horizontal-align: middle;
  border-radius: 0.25rem;
  position : relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}

ul{
  display:flex;
  flex-wrap: wrap;
  list-style : none;
}

li{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  width: 400px;
  height: 500px;
	margin:15px;
	background:#fff;
	border:1px solid black;
	text-align:center;
	cursor:pointer;
  border-radius: 0.25rem;
  filter: drop-shadow(8px 8px 10px grey);
  transition: filter 0.3s cubic-bezier(.43,.41,.22,.91);;
}

.movie-title{
  color: grey;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.movie-type{
  color: grey;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.flex-row {
  padding-left : 15px;
  padding-right : 15px;
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}

.search-container{
    background-color: white;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    overflow: hidden;
    border-radius: 6px;
    height : 30px;
} 
